<%= render "layouts/navbar" %>
<% cache(action_suffix: "primary") do %>
<div class="container">

<h1><%= @pg_search_documents.count %> search results for "<%= params["query"] %>"</h1>
<% @pg_search_documents.each do |pg_search_document| %>
  <p><%= link_to pg_search_document.searchable.title, pg_search_document.searchable %></p>
  <% end %>
</div>
<% end %>
