<div class="container">

<h1><%= @results.count %> search results for "<%= params["query"] %>"</h1>
<% @results.each do |result| %>
  <h3><%= result.title %></h3>3<br>
  <%= result.description %></p>
<% end %>
</div>
