@font-face {
  font-family: 'Tommaso';
  src: asset-url('Tommaso.otf');
}

#logo {
  font-size: 280px;
  font-family: 'Tommaso', sans-serif;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: center;
}

#about-logo {
  font-size: 140px;
  font-family: 'Tommaso', sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: center;
}

#about-text {
  text-align: left;
  font-size: 26px;
  color: black;
}

.brand-name-home {
 font-family: 'Tommaso', sans-serif;
 font-size: 30px;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
 padding-top: 15px;
 padding-left: 30px;
}

.brand-name-home:hover {
  font-family: 'Tommaso', sans-serif;;
  font-size: 30px;
  font-weight: bold;
  color: turquoise;
  text-decoration: none;
  padding-top: 15px;
 }

 .brand-name-general {
  font-family: 'Tommaso', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 30px;
 }

 .brand-name-general:hover {
   font-family: 'Tommaso', sans-serif;;
   font-size: 30px;
   font-weight: bold;
   color: turquoise;
   text-decoration: none;
   padding-top: 15px;
  }

.text {
  text-align: center;
}

body {
  font-family: 'Lato';

}

body, html {
  color: black;
  background-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.navbar-transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    width: 100%;
    box-shadow: 0px 0px;
    color: transparent;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar-custom {
  color: black;
  background-color:white;
}

#about {
  height: 100%;
}

.navbar-nav > li {
  font-size: 14px;
  padding-left: 50px;
  padding-left: 10px;
  }

.navbar-custom .navbar-nav > .dropdown > a .caret {
    display: none;
}

 .navbar-custom .dropdown-toggle {
  color: black;
}

.nav.navbar-custom.navbar-right li a {
    color: black;
}

.navbar-transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    width: 100%;
    box-shadow: 0px 0px;
    color: transparent;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar-custom {
  color: black;
  background-color:white;
}

.navbar-nav > li {
  font-size: 14px;
  padding-left: 50px;
  padding-left: 10px;
  }
.dropdown-menu {
  font-size: 14px;
  }

.dropdown-menu>li>a:hover {
   background-color: silver !important;
 }

.navbar-transparent a {
  color:white;
}

.navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus {
    background-color: white;
    opacity: 0.6;
    color: black;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret {
    display: none;
}

 .carousel {
    max-height: 700px;
    width: 100%;
    overflow: hidden !important;
    background-size: cover;
 }
 .carousel-caption {
    position: absolute;
    top:400px
 }

 .carousel .item {
   height: 100%;
   width: 100%;
 }

.carousel-inner > .item > img {
  text-align: center;
   margin: 0 auto;
  -webkit-filter: brightness(50%); /* Chrome, Safari, Opera */
  filter: brightness(50%);
}


 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
     display: block;
     max-height: 100%;
     line-height: 1;
     width: 100%;
     filter: brightness(90%);
 }

 .fill {
     width: 100%;
     height: auto;
     background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

div.form-group {
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  top: 430px;
  z-index:99;
}
div.form-group input {
   color: #999;
   font-weight: bold;
   font-size: 24px;
   padding: 10px;
   border: 2px solid #999;
   border-radius:2px;
}

.company-logo {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.home-button {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    background: none;
    color: white !important;
    border: 2px solid white !important;
    position: relative;
    text-align: center;
    margin-top: 100;
}

.home-button:hover {
    background-color: white;
    opacity: 0.6;
    position: relative;
    text-align: center;
    border: 2px solid white;
    color: black;
    margin-top: 150;
}

.navbar-custom {
  color: black;
  background-color:white;
}

.carousel-indicators li { visibility: hidden; }

.navbar-nav > li {
  font-size: 14px;
  padding-left: 50px;
  padding-left: 10px;
  }
.dropdown-menu {
  font-size: 14px;
  }

.dropdown-menu>li>a:hover {
   background-color: silver !important;
 }

.navbar-transparent a {
  color:white;
}

.navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus {
    background-color: white;
    opacity: 0.6;
    color: black;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret {
    display: none;
}

section {
  height: 100%;
  overflow: hidden;
  position: relative;
}

section + section {
  background: #333;
}

.d.visible {
  bottom: 20px;
}

.d {
  border: 1px solid #eee;
  border-radius: 50%;
  color: #eee;
  text-align: center;

  bottom: -120px;
  display: block;
  left: 50%;
  margin-left: -50px;
  position: absolute;

  height: 100px;
  line-height: 100px;
  width: 100px;

  -webkit-animation: a 4s infinite;
  -moz-animation: a 4s infinite;
  -o-animation: a 4s infinite;
  animation: a 4s infinite;

  -webkit-transition: bottom 1s ease;
  -moz-transition: bottom 1s ease;
  -o-transition: bottom 1s ease;
  transition: bottom 1s ease;
}

.a {
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-radius: 2px;
  color: #eee;
  display: inline-block;
  font-size: 0;
  height: 50px;
  line-height: 0;
  margin-top: -25px;
  text-align: center;
  vertical-align: middle;
  width: 50px;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(45deg);
}

@-webkit-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@-moz-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@-o-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@keyframes a {
  /*0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }*/

  0%   { border-color: #eee; }
  50%   { border-color: #555; }
  100% { border-color: #eee; }

}


.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
    min-height: 100%;
    height: 1400px;
}

.content {padding-top: 700px;}
